<MyExchange name="dcelevel2_test" timeEventInterval="10000">
  <OrderVolLimit />
  <quote>
    
    
    
    
    
    <source category="cf" exchange="A" name="FC" semkey="MYShfeMarketData_sem.key" shmdataflagkey="../shfe_jr_mktsvc/MYShfeMarketData_dataflag.key" shmdatakey="../shfe_jr_mktsvc/MYShfeMarketData_data.key" type="forwarder" />
  </quote>
  <tca>
    
    
    
    <source change_oc_flag="0" channel_type="femas" config="./femas/my_trade_tunnel_femas.xml" exchange="A" init_pos_at_start="1" init_pos_from_ev="0" model_ctrl_oc="0" models="10000001,10000002,10000003,10000004,10000005,10000006,10000007,10000008,10000009,10000010,10000011,10000012,10000013,10000014,10000015,10000016,10000017,10000018,10000019" name="ctp_test_tunnel" so_file="libmy_exchange_fut_op.so" tunnel_so_file="./femas/libfemas_tunnel.so" />
  </tca>
  <strategies>
    
    
    <strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_ru_day.txt" id="10000001" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl34_ru_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="2" name="ru1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_zn_day.txt" id="10000002" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl34_zn_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="6" name="zn1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl36_zn_day.txt" id="10000003" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl36_zn_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="3" name="zn1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl60_zn_day.txt" id="10000004" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl60_zn_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="3" name="zn1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fw10_zn_day.txt" id="10000005" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fw10_zn_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="3" name="zn1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_rb_day.txt" id="10000006" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl34_rb_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="7" name="rb1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl36_rb_day.txt" id="10000007" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl36_rb_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="7" name="rb1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_pb_day_4.txt" id="10000008" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl34_pb_day_4" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="2" name="pb1704" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_pb_day_5.txt" id="10000009" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl34_pb_day_5" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="2" name="pb1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl35_pb_day.txt" id="10000010" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl35_pb_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="1" name="pb1704" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl60_pb_day.txt" id="10000011" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl60_pb_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="2" name="pb1704" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fd10_pb_day.txt" id="10000012" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fd10_pb_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="1" name="pb1704" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fw10_pb_day.txt" id="10000013" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fw10_pb_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="1" name="pb1704" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_au_day.txt" id="10000014" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl34_au_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="3" name="au1706" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl36_au_day.txt" id="10000015" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl36_au_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="2" name="au1706" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl60_au_day.txt" id="10000016" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl60_au_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="2" name="au1706" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl60_cu_day.txt" id="10000017" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl60_cu_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="2" name="cu1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fd10_cu_day.txt" id="10000018" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fd10_cu_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="1" name="cu1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl60_al_day.txt" id="10000019" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fl60_al_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="1" name="al1705" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy></strategies>
</MyExchange>