<?xml version="1.0" encoding="utf-8"?>
<MyExchange name="dcelevel2_test" timeEventInterval="10000" pos_calc="off">
  <OrderVolLimit />
  <quote>
    
    
    
    
    
    <source category="cf" exchange="A" name="FC" semkey="MYShfeMarketData_sem.key" shmdataflagkey="../shfe_jr_mktsvc/MYShfeMarketData_dataflag.key" shmdatakey="../shfe_jr_mktsvc/MYShfeMarketData_data.key" type="forwarder" />
  </quote>
  <tca>
    
    
    
    <source change_oc_flag="0" channel_type="femas" config="./femas/my_trade_tunnel_femas.xml" exchange="A" init_pos_at_start="1" init_pos_from_ev="0" model_ctrl_oc="0" models="10000001,10000002" name="ctp_test_tunnel" so_file="libmy_exchange_fut_op.so" tunnel_so_file="./femas/libfemas_tunnel.so" />
  </tca>
  <strategies>
    
    
    <strategy cancel_limit_per_day="500" cancel_timeout="2000" ev_name="ev/fl33_zn_day.txt" id="10000001" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fw34_au" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="5" name="au1706" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="2000" ev_name="ev/fl33_zn_day.txt" id="10000002" isOption="0" iv_name="iv/fl33_zn_day.txt" log_name="log" model_file="fw34_ag" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="A" max_pos="6" name="ag1706" orders_limit_per_sec="50000000" symbol_log_id="2" symbol_log_name="log" />
    </strategy></strategies>
</MyExchange>
