<?xml version="1.0" encoding="utf-8"?>
<!-- my stock quote server-->

<matketdata_config>
  <!-- provider_type
     10: my stock index   茂源股票指数行情源
  -->
  <provider_type>10</provider_type>

  <login>
    <serverlist note = "quote source address">
      <addr>tcp://127.0.0.1:15168</addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <brokerid></brokerid>
    <account_id></account_id>
    <password></password>
  </login>

  <!-- security code list, case sensitive.
  -->
  <stock_list>
    <code>All</code>
  </stock_list>
  
  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>
  
</matketdata_config>
