<?xml version="1.0" encoding="utf-8"?>
<!-- LTS quote server-->

<matketdata_config>
  <!-- provider_type
     27: lts               LTS option
  -->
  <provider_type>27</provider_type>

  <login>
    <serverlist note = "quote front address">
       <addr>tcp://211.144.195.163:54513</addr>
    </serverlist>
    <brokerid>2011</brokerid>
    <account_id>020090005302</account_id>
    <password>kys5PKK+LLskflmuyXsulgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
    <query_server_addr>tcp://211.144.195.163:54506</query_server_addr>
    <query_brokerid>2011</query_brokerid>
    <query_account>020090005302</query_account>
    <query_password>UM6go3QQV7TEOTz2TlNd9gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</query_password>
    <user_productinfo>LTS-Test</user_productinfo>
    <auth_code>N3EHKP4CYHZGM9VJ</auth_code>
  </login>

  <!-- security code list
     option of ShangHai Exchange (SSE), don't change it when option only exist in SSE
  -->
  <stock_list>
    <code>SSE</code>
  </stock_list>
  
  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>
  
</matketdata_config>
