<?xml version="1.0" encoding="utf-8"?>
<!-- tdf stock and index quote-->

<matketdata_config>
  <!-- provider_type
     9: tdf stock and index    万得股票及指数行情源
  -->
  <provider_type>9</provider_type>

  <login>
    <serverlist note = "quote source address">
      <addr>tcp://114.80.154.34:10001</addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <brokerid></brokerid>
    <account_id>winddata_l2</account_id>
    <password>wNR8/xjbNlPalTzvCUoEFwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
  </login>

  <!--
	example:
	<code>000001.sz</code>
	<code>600001.sh</code>
	empty mean subscribe all
  -->
  <stock_list>
  </stock_list>
  
  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>
  
</matketdata_config>
