<?xml version="1.0" encoding="utf-8"?>
<!-- IB Level2-->

<matketdata_config>
  <!-- provider_type
     26:ib
  -->
  <provider_type>26</provider_type>

  <login>
    <serverlist note = "quote data source address">
      <addr>127.0.0.1:4001</addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <brokerid>11</brokerid>
    <account_id></account_id>
    <password></password>
  </login>

  <!-- subscribe all by default, no need to specify  -->
  <stock_list>
	<code>2801.2801.STK.SEHK..HKD</code>
	<code>2822.2822.STK.SEHK..HKD</code>
	<code>2823.2823.STK.SEHK..HKD</code>
	<code>2827.2827.STK.SEHK..HKD</code>
	<code>3049.3049.STK.SEHK..HKD</code>
	<code>3147.3147.STK.SEHK..HKD</code>
	<code>3188.3188.STK.SEHK..HKD</code>
	<code>CNV15.XINA50.FUT.SGX.201510.USD</code>
	<code>CNX15.XINA50.FUT.SGX.201511.USD</code>
	<code>CNZ15.XINA50.FUT.SGX.201512.USD</code>
  </stock_list>

  <quote_data_save note = "save parameters">
    <save_txt_file note = "save to file, 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>

</matketdata_config>
