<MyExchange name="dcelevel2_test" timeEventInterval="10000">
  <OrderVolLimit />
  <quote>
    
    
    
    <source category="cf" exchange="B" name="FC" semkey="MDBestAndDeep_sem.key" shmdataflagkey="../dcelv2_mktsvc/MDBestAndDeep_dataflag.key" shmdatakey="../dcelv2_mktsvc/MDBestAndDeep_data.key" type="forwarder" />
    
  </quote>
  <tca>
    
    
    
    <source change_oc_flag="0" channel_type="xspeed" config="./x1_fut/my_trade_tunnel_x1.xml" exchange="B" init_pos_at_start="1" init_pos_from_ev="0" model_ctrl_oc="0" models="10000001,10000002,10000003,10000004,10000005,10000006,10000007,10000008,10000009,10000010,10000011,10000012,10000013,10000014,10000015,10000016,10000017,10000018,10000019,10000020" name="xspeed_test_tunnel" so_file="libmy_exchange_fut_op.so" tunnel_so_file="./x1_fut/libx1_fut_tunnel.so" />
  </tca>
  <strategies>
    
    
    
    
    
    <strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/sc34_dljm_day.txt" id="10000001" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="sc34_dljm_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="1" name="jm1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/sc34_dlj_day.txt" id="10000002" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="sc34_dlj_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="1" name="j1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_dly_day.txt" id="10000003" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl34_dly_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="1" name="y1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fw10_dly_day.txt" id="10000004" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fw10_dly_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="1" name="y1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fd10_dly_day.txt" id="10000005" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fd10_dly_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="10" name="y1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_dlm_day.txt" id="10000006" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl34_dlm_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="10" name="m1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl36_dlm_day.txt" id="10000007" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl36_dlm_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="15" name="m1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fd10_dlm_day.txt" id="10000008" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fd10_dlm_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="10" name="m1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_dlv_day.txt" id="10000009" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl34_dlv_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="2" name="y1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl36_dlv_day.txt" id="10000010" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl36_dlv_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="10" name="y1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fw10_dlv_day.txt" id="10000011" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fw10_dlv_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="5" name="y1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_dll_day.txt" id="10000012" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl34_dll_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="1" name="l1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_dljd_day.txt" id="10000013" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl34_dljd_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="2" name="jd1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fw10_dljd_day.txt" id="10000014" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fw10_dljd_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="2" name="jd1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34_dli_day.txt" id="10000015" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl34_dli_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="35" name="i1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl36_dli_day.txt" id="10000016" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl36_dli_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="25" name="i1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fd10_dli_day.txt" id="10000017" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fd10_dli_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="25" name="i1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl34s_dli_day.txt" id="10000018" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl34s_dli_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="1" name="i1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fl36_dla_day.txt" id="10000019" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fl36_dla_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="5" name="a1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy><strategy cancel_limit_per_day="500" cancel_timeout="300000" ev_name="ev/fw10_dla_day.txt" id="10000020" isOption="0" iv_name="iv/iv.txt" log_name="log" model_file="fw10_dla_day" orders_limit_per_sec="50" sah_flag="0">
      <symbol available_fund="0.0" cancel_limit_per_day="5000000000" category="cf" exchange="B" max_pos="1" name="a1705" orders_limit_per_sec="50000000" symbol_log_id="305" symbol_log_name="log" />
    </strategy></strategies>
</MyExchange>