<?xml version="1.0" encoding="utf-8"?>
<!--strategy idle, in milliseconds -->
<MyExchange name="dcelevel2_test" timeEventInterval="10000">  	
  	<OrderVolLimit>		
  	</OrderVolLimit>
  	
	<quote>
		<!-- category: spif,cf,fulldepth,MDOrderStatistic or stock -->
		<!-- exchange: support multiple exchange in an attribute seperated by comma, e.g. '0,1,G'--> 
		
		<!-- queue market data:MI_SGD_OPTION/T_OptionQuote  -->		
    	<source name="FC"				
			category="cf"							   
			exchange="B"
			type="forwarder"
			shmdatakey= "/home/oliver/release_valify/quote_forwarder_level2/MDBestAndDeep_data.key"
			shmdataflagkey= "/home/oliver/release_valify/quote_forwarder_level2/MDBestAndDeep_dataflag.key"
			semkey="MDBestAndDeep_sem.key">
		</source>  

     	<source name="FC"				
			    category="fulldepth"				
				exchange="B"
				type="forwarder"
				shmdatakey=		"/home/mycapitaltrade/quote_forwarder_level1/CDepthMarketDataField_data.key"
				shmdataflagkey= "/home/mycapitaltrade/quote_forwarder_level1/CDepthMarketDataField_dataflag.key"
				semkey="CDepthMarketDataField_sem.key">
		</source>
           
		<!--
	    <source name="FC"
			category="MDOrderStatistic"
			exchange="B"
			type="forwarder"
			shmdatakey= "/home/oliver/release_valify/quote_forwarder_level2/MDOrderStatistic_data.key"
			shmdataflagkey= "/home/oliver/release_valify/quote_forwarder_level2/MDOrderStatistic_dataflag.key"
			semkey="MDOrderStatistic_sem.key">
	    </source>   
		-->
	       
  </quote>
  
  <tca>
  	 <!-- exchange: support multiple exchange in an attribute seperated by comma, e.g. '0,1,G'-->
     <!--    channel_type:ctp,dce,femas,zeusing, citics_uft, kingstar_option, lts_option    -->      
	 <!--
	   config attribute:the configuration file for tunnel
	   so_file attribute: specify which so to load for mycachange module
	   tunnel_so_file attribute: specify which so to load for mytunnel module
	   init_pos_at_start属性:是否启动时从市场查询仓位做初始持仓 0：不查询；1：查询
	   model_ctrl_oc: 模型自行管理开平 0：no；1：yes
	   change_oc_flag属性:是否支持开平变换（不支持时，将关闭内部撮合） 0：no； 1：yes
	   init_pos_from_ev: this attribute is for option system. system will read position from ev file if its value is 1
	-->  

	<source name="xspeed_test_tunnel" 
		channel_type="xspeed"
		config="my_trade_tunnel_xspeed.xml"
		so_file="libmy_exchange_fut_op.so"
		tunnel_so_file="libxspeed_fut_tunnel.so"
		exchange="B"
		models="87654321"
		init_pos_at_start="0"
		model_ctrl_oc="0"
		change_oc_flag="0"
		init_pos_from_ev="0">            
	</source>  

	<source name="ctp_test_tunnel" 
		channel_type="ctp"
		config="my_trade_tunnel_ctp.xml"
		so_file="libmy_exchange_fut_op.so"
		tunnel_so_file="libctp_tunnel.so"
		exchange="B"
		models="87654322"
		init_pos_at_start="0"
		model_ctrl_oc="0"
		change_oc_flag="0"
		init_pos_from_ev="0">            
	</source>  
  </tca>
  
  <strategies>

	<!-- isOption: the attribute is for option system. 
		system will feed only contracts	matching the specified regular expression to strategy when initializing if isOption is 1 
	--> 
	<strategy 
		isOption="0"
		cancel_timeout="2000"         		
		sah_flag="0"		  
 	    id="87654321" 	    	      	     
	    model_file="hi5_dlcs_struct"    	     
		log_name="log"		 
		iv_name="iv/iv.txt"		 
		ev_name="ev/ev.txt"
		orders_limit_per_sec="50"
		cancel_limit_per_day="500">
	    <symbol 
			name="cs1609"	
			category="cf"
			exchange="B"
			max_pos="5"       		  
			available_fund="0.0" 
			symbol_log_name="log"
			symbol_log_id="333"
			orders_limit_per_sec="50000000"
			cancel_limit_per_day="5000000000"/>	      	       	   
    </strategy>	
	<strategy 
		isOption="0"
		cancel_timeout="2000"         		
		sah_flag="0"		  
 	    id="87654322" 	    	      	     
	    model_file="hi52_dlcs_struct"    	     
		log_name="log"		 
		iv_name="iv/iv.txt"		 
		ev_name="ev/ev.txt"
		orders_limit_per_sec="50"
		cancel_limit_per_day="500">
	    <symbol 
			name="cs1609"	
			category="cf"
			exchange="B"
			max_pos="3"       		  
			available_fund="0.0" 
			symbol_log_name="log"
			symbol_log_id="444"
			orders_limit_per_sec="50000000"
			cancel_limit_per_day="5000000000"/>	      	       	   
    </strategy>	
 </strategies>
</MyExchange>
