<?xml version="1.0" encoding="utf-8"?>
<!-- LTS udp quote server-->

<matketdata_config>
  <!-- provider_type
     29: lts level2             LTS level2 MD
  -->
  <provider_type>29</provider_type>

  <login>
    <serverlist note = "quote front address">
       <addr>udp://10.200.66.255:38000</addr>
    </serverlist>
    <brokerid></brokerid>
    <account_id></account_id>
    <password></password>
    <query_server_addr>tcp://10.200.66.11:24507</query_server_addr>
    <query_brokerid>2011</query_brokerid>
    <query_account>060000007659</query_account>
    <query_password>6HW+V3jumulIzmZVOoax9gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</query_password>
    <user_productinfo>LTS-Test</user_productinfo>
    <auth_code>N3EHKP4CYHZGM9VJ</auth_code>
  </login>

  <!-- security code list
     all stock and index, don't need configure
  -->
  <stock_list>
  </stock_list>
  
  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>
  
</matketdata_config>
