<?xml version="1.0" encoding="utf-8"?>
<!--timeEventInterval, in milliseconds -->
<MyExchange name="HT810_test0" timeEventInterval="10000" listen="9099">  	
  	<OrderVolLimit>
		
  	</OrderVolLimit>
  	
	<quote>
    	<source name="FC"				
			    category="spif"				
				exchange="G"
				type="forwarder"
				shmdatakey=		"/home/mycapitaltrade/trade_plat/forwarder/Debug/CFfexFtdcDepthMarketData.key"
				shmdataflagkey= "/home/mycapitaltrade/trade_plat/forwarder/Debug/CFfexFtdcDepthMarketData_dataflag.key"
				semkey="CFfexFtdcDepthMarketData_sem.key">
		</source>
  </quote>
  
  <tca>
  	<!-- exchange: support multiple exchange in an attribute seperated by comma, e.g. '0,1,G'-->
     <!-- channel_type:ctp,dce,femas,zeusing, citics_uft, kingstar_option, lts_option    -->      
	 <!--
       config attribute:the configuration file for tunnel
       so_file attribute: specify which so to load for mycachange module
       tunnel_so_file attribute: specify which so to load for mytunnel module
       init_pos_at_start属性:是否启动时从市场查询仓位做初始持仓 0：不查询；1：查询
       model_ctrl_oc: 模型自行管理开平 0：no；1：yes
       change_oc_flag属性:是否支持开平变换（不支持时，将关闭内部撮合） 0：no； 1：yes
       init_pos_from_ev: this attribute is for option system. system will read position from ev file if its value is 1
    	-->  
  <source name="TradeTunnel_9812"
    		channel_type="femas"
            config="femas_tunnel_90026604.xml"
            so_file="libmy_exchange.so"
            tunnel_so_file="libfemas_tunnel.so"
            exchange="G"
            models="215,216"
            init_pos_at_start="1"
            model_ctrl_oc="0"
            change_oc_flag="0"
            init_pos_from_ev="0"/>
			
	
  </tca>
  
  <strategies>
	<!- isOption: 
				the attribute is for option system. 
				system will feed only contracts	matching the specified regular expression to strategy when initializing if isOption is 1 
	---> 
	<strategy 
		isOption="1"
		cancel_timeout="2000"         		
		sah_flag="0"		  
 	     id="215" 	    	      	     
	     model_file="hi31v258_t_struct"    	    
		 log_name="log"		 
		 iv_name="iv/iv.txt"		 
		 ev_name="ev/ev.txt"
		 orders_limit_per_sec="50"
		 cancel_limit_per_day="500">
	      	 <symbol 
	      		name="IF1603"	
				category="spif"
	      		exchange="G"
	      		max_pos="1"       		  
	      		available_fund="0.0" 
	      		symbol_log_name="IF1506"
	      		symbol_log_id="333"
	      		orders_limit_per_sec="50000000"
	 			cancel_limit_per_day="5000000000"/>	      	 	
      	   
    </strategy>
	
 </strategies>
</MyExchange>
