<?xml version="1.0" encoding="utf-8"?>
<!-- DCE Level2-->

<matketdata_config>
  <!-- provider_type
     15: czce
     20: czce multi
     31: czce multicast
  -->
  <provider_type>31</provider_type>

  <login>
    <serverlist note = "quote data source address">
      <addr>tcp://224.10.31.1:12236</addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <brokerid></brokerid>
    <account_id></account_id>
    <password></password>
    <zce_multi_config>
    	<item realtime_ip="224.10.31.1" realtime_port="12236" gourp_ip="172.18.108.15" recovery_ip="224.10.31.21" recovery_port="12236" />
    </zce_multi_config>
    
  </login>

  <!-- subscribe all by default, no need to specify  -->
  <stock_list>
  	<code></code>
  </stock_list>

  <quote_data_save note = "save parameters">
    <save_txt_file note = "save to file, 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>

</matketdata_config>

