<?xml version="1.0" encoding="utf-8"?>
<!-- femas quote server-->

<matketdata_config>
  <!-- provider_type
     11: femas1     		  CFFEX Level 2
  -->
  <provider_type>12</provider_type>

  <login>
    <serverlist note = "quote front address">
		<addr>tcp://116.228.53.144:8888</addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <topic>100</topic>
    <brokerid>2051</brokerid>
    <account_id>60000722</account_id>
    <password>AmvgUCydNYxRuBeHQlPB0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
  </login>

  <!-- security code list
     * for subscribe all securities of market
  -->
  <stock_list>
    <code>*</code>
  </stock_list>
  
  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source">femas</file_name_id>
  </quote_data_save>
  
</matketdata_config>
