<?xml version="1.0" encoding="utf-8"?>
<!-- gta quote server-->

<matketdata_config>
  <!-- provider_type
     11: femas + gta ex + udp     中金所多路组合行情（都是UDP数据结构，择快的转发）
  -->
  <provider_type>11</provider_type>

  <login>
    <serverlist note = "quote source address">
      <addr></addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <brokerid></brokerid>
    <account_id></account_id>
    <password></password>
  </login>

  <!-- security code list, case sensitive.	only support cffex data.  -->
  <stock_list>
    <code>All</code>
  </stock_list>
  
  <!-- policy of transfer  -->
  <transfer_policy>
    <filter note = "filter duplicate data. 0:no; 1:yes;">0</filter>
  </transfer_policy>
  
  <quote_data_save note = "save config, 对组合行情无效">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source">multi</file_name_id>
  </quote_data_save>
  
  <quote_cfg_file_list note = "configuration files">
    <file_name>my_quote_gta_tcp.config</file_name>
    <file_name>my_quote_gta_udp.config</file_name>
  </quote_cfg_file_list>
  
</matketdata_config>
