<?xml version="1.0" encoding="utf-8"?>
<!-- femas quote server-->

<matketdata_config>
  <!-- provider_type
     24: network xele
  -->
  <provider_type>24</provider_type>

  <login>
    <serverlist note = "quote front address">
    	<addr>tcp://192.168.161.50:32004</addr>
    </serverlist>
    <trade_server_addr>udp://233.0.0.1:28929</trade_server_addr>
    <topic></topic>
    <brokerid>eth7</brokerid>
    <account_id>xele_md03</account_id>
    <password>iasYYCadpPk00KcnkIUFrAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
  </login>

  <!-- security code list
     * for subscribe all securities of market
  -->
  <stock_list>
    <code>*</code>
  </stock_list>

  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source">xele</file_name_id>
  </quote_data_save>

</matketdata_config>
