<?xml version="1.0" encoding="utf-8"?>
<!-- femas quote server-->

<matketdata_config>
  <!-- provider_type
     21: femas multicast
  -->
  <provider_type>21</provider_type>

  <login>
    <serverlist note = "quote front address">
		<addr>tcp://192.168.202.3:7231</addr>
    </serverlist>
    <!-- use for set local ip in multicast of femas, format: 10.116.141.10 -->
    <trade_server_addr>192.168.203.114</trade_server_addr>
    <topic>110</topic>
    <brokerid></brokerid>
    <account_id>maoyuan</account_id>
    <password>9xGIZZ51HQF1x/d5LmtIowAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
  </login>

  <!-- security code list
     * for subscribe all securities of market
  -->
  <stock_list>
  </stock_list>

  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source">femas</file_name_id>
  </quote_data_save>

</matketdata_config>
