<?xml version="1.0" encoding="utf-8"?>
<!-- femas quote server-->

<matketdata_config>
  <!-- provider_type
     28: toe (MY FPGA)
  -->
  <provider_type>28</provider_type>

  <login>
    <serverlist note = "quote front address">
    </serverlist>
    <trade_server_addr></trade_server_addr>
    <topic></topic>
    <brokerid></brokerid>
    <account_id></account_id>
    <password></password>
    
    <!-- parameters for toe -->
    <toe_config>
    	<item toe_id="0" cnn_cpu="1" recv_cpu="3" pro_type="1" loc_ip="67.153.0.8" loc_port="18110" remote_ip="67.153.0.100" remote_port="18111" mc_ip="232.8.0.18"/>
    	<item toe_id="0" cnn_cpu="2" recv_cpu="4" pro_type="1" loc_ip="67.153.0.8" loc_port="19110" remote_ip="67.153.0.100" remote_port="19111" mc_ip="232.8.0.19"/>
    </toe_config>
  </login>

  <!-- security code list
     * for subscribe all securities of market
  -->
  <stock_list>
    <code>*</code>
  </stock_list>

  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source">xele</file_name_id>
  </quote_data_save>

</matketdata_config>
