<?xml version="1.0" encoding="utf-8"?>
<MyExchange>  	
	<!-- feed_cf_quote_method:MI_SGD_OPTION, T_OptionQuote-->
	<!-- feed_stock_quote_method:MI_MY_STOCK_LV2, TDF_MARKET_DATA_MY-->
	<!-- feed_spif_quote_method: MI_MY_LEVEL1, CDepthMarketDataField -->
	<!-- feed_full_depth_quote_method: MI_IB_BOOK, IBDepth -->
	<strategy 		
 	     init_method="st_init_"  	     
	     feed_pos_method="st_feed_init_position_" 
	     feed_init_pos_method="st_feed_init_position_" 	     
	     feed_sig_response_method="st_feed_sig_resp_"	 
	     feed_time_event_method="st_idle_"	     	     	   
	     destroy_method="st_destroy_"
	     feed_quote_notify_method="st_feed_quote_"	
	         	     	    
	     feed_spif_quote_method="st_feed_marketinfo_13_" 
	     feed_cf_quote_method="st_feed_marketinfo_12_"
	     feed_stock_quote_method="st_feed_marketinfo_9_"
	     feed_full_depth_quote_method="st_feed_marketinfo_19_"   
	     MDOrderStatistic_method="no"   
		 
	     init_option_strategy = "init_strategy_"
	     update_option_strategy ="update_strategy_"
	     get_monitor_info="get_monitor_info_"	  
	     update_option_strategy_ob = "not_support"
     	     get_option_monitor_info_ob = "not_support"
	</strategy>	
</MyExchange>
