<?xml version="1.0" encoding="utf-8"?>
<!--strategy idle, in milliseconds -->
<MyExchange name="future_stock_option_ib_test" timeEventInterval="10000" listen="0" pos_calc="off">  	
  	<OrderVolLimit>		
  	</OrderVolLimit>
  	
	<quote>
		<!-- category: spif,cf,fulldepth,MDOrderStatistic or stock -->
		<!-- exchange: support multiple exchange in an attribute seperated by comma, e.g. '0,1,G'--> 
		
		<!-- queue market data:MI_SGD_OPTION/T_OptionQuote  -->		
    	<source name="FC"				
			    category="spif"							   
				exchange="1"
				type="forwarder"
				shmdatakey=		"/home/mycapitaltrade/quote_forwarder_lts_option/OptionQuote_data.key"
				shmdataflagkey= "/home/mycapitaltrade/quote_forwarder_lts_option/OptionQuote_dataflag.key"
				semkey="OptionQuote_sem.key">
		</source>  
            
        <!-- CDepthMarketDataField,MI_MY_LEVEL1-->
	    <source name="FC"
	      category="cf"
	      exchange="G"
	      type="forwarder"
	      shmdatakey=	  "/home/mycapitaltrade/quote_forwarder_all_exchanges_level1/CDepthMarketDataField_data.key"
	      shmdataflagkey= "/home/mycapitaltrade/quote_forwarder_all_exchanges_level1/CDepthMarketDataField_dataflag.key"
	      semkey="CDepthMarketDataField_sem.key">
	    </source>   
		
		<!-- stock level2 market data:MI_MY_STOCK_LV2/TDF_MARKET_DATA_MY -->
        <source name="FC" 
            category="stock" 
            exchange="1" 
            type="forwarder" 
            shmdatakey="/home/mycapitaltrade/stock_l2_forwarder/TDF_MARKET_DATA_data.key" 
            shmdataflagkey="/home/mycapitaltrade/stock_l2_forwarder/TDF_MARKET_DATA_dataflag.key" 
            semkey="TDF_MARKET_DATA_sem.key" >  
        </source>  
	     
	    <!-- IBDepth,MI_IB_BOOK-->
	    <source name="FC"
	      category="fulldepth"
	      exchange="S"
	      type="forwarder"
	      shmdatakey=	  "/home/mycapitaltrade/quote_forwarder_ib/IBDepth_data.key"
	      shmdataflagkey= "/home/mycapitaltrade/quote_forwarder_ib/IBDepth_dataflag.key"
	      semkey="IBDepth_sem.key">
	    </source>    
	       
  </quote>
  
  <tca>
  	 <!-- exchange: support multiple exchange in an attribute seperated by comma, e.g. '0,1,G'-->
     <!-- channel_type:ctp,dce,femas,zeusing, citics_uft, kingstar_option, lts_option,sgit    -->      
	 <!--
	   config attribute:the configuration file for tunnel
	   so_file attribute: specify which so to load for mycachange module
	   tunnel_so_file attribute: specify which so to load for mytunnel module
	   init_pos_at_start: initial acount position at start. 0:no; 1:yes;
	   model_ctrl_oc: model control open/close. 0:no; 1:yes;
	   change_oc_flag: support open close transform. 0:no; 1:yes;
	   init_pos_from_ev: this attribute is for option system. system will read position from ev file if its value is 1
	-->  
        <source name="TradeTunnel_9812" 
            channel_type="lts_option"
            config="lts_opt_sim_tunnel.xml"
            so_file="libmy_exchange_fut_op.so"
            tunnel_so_file="liblts_opt_sim_tunnel.so"
            exchange="A"
            models="215,216"
            init_pos_at_start="1"
            model_ctrl_oc="0"
            change_oc_flag="0"
            init_pos_from_ev="0">            
    	</source>  
  </tca>
  
  <strategies>

	<!-- isOption: 
				the attribute is for option system. 
				system will feed only contracts	matching the specified regular expression to strategy when initializing if isOption is 1 
	--> 
	<strategy 
		isOption="0" cancel_timeout="2000" sah_flag="0" id="215" model_file="model_KP" log_name="log" 
		iv_name="iv/iv.txt" ev_name="ev/ev.txt" orders_limit_per_sec="50" cancel_limit_per_day="500">
		<symbol name="510300P1603M03200" category="spif" exchange="1" max_pos="1" available_fund="0.0" symbol_log_name="IF1606" symbol_log_id="333" orders_limit_per_sec="50000" cancel_limit_per_day="50000"/>	      	       	   
    </strategy>	
	
 </strategies>
</MyExchange>
