<?xml version="1.0" encoding="utf-8"?>
<!-- kmds quote server-->

<matketdata_config>
  <!-- provider_type
     19: security market data interface of KMDS(citics)
  -->
  <provider_type>19</provider_type>

  <login>
    <serverlist note = "quote front address">
		<addr></addr>
    </serverlist>
    <trade_server_addr></trade_server_addr>
	<!-- [工作类型].[行情类型].[市场].[发布等级].[ 数据来源].[发布节点] -->
	<!-- 多个订阅主题字符串用 | 分隔 -->
    <topic>0.SBA2.1.1.*.*|0.SBA2.2.1.*.*|0.SBA1.15.1.*.*</topic>
    <brokerid></brokerid>
    <account_id>mycapital</account_id>
    <password>bYt9ujqLBzWtKM5rahGf7AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==</password>
  </login>

  <!-- security code list
     * for subscribe all securities of market
  -->
  <stock_list>
    <code>*</code>
  </stock_list>

  <quote_data_save note = "save config">
    <save_txt_file note = "save to file. 0:no; 1:yes;">1</save_txt_file>
    <file_name_id note = "identify file name of same type quote source"></file_name_id>
  </quote_data_save>

</matketdata_config>
